<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Page to inform the user that javascript needs to be enabled to use the app">
        <meta name="author" content="">
        <title>Javascript is required</title>
    </head>
    <body>
        <h1 th:text="#{General.javascriptRequired}"></h1>
    </body>
</html>