<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Template CRUD</title>
        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <noscript>
            <meta http-equiv="refresh" content="0; url=/enable_javascript">
        </noscript>
        <style>
            .datepicker td, th {
              text-align: center;
              padding:5px 12px;
              font-size: 14px;
            }

            th:hover #delete-icon {
                display: inline;
            }
        </style>
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">


            <th:block th:insert="~{components/sidebar :: sidebar}">  </th:block>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Add Date Modal -->
                    <div class="modal fade" id="addDateModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal Title and Cross -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="row w-100">
                                        <div class="col-11">
                                            <h4 class="modal-title text-primary" th:text="#{templateCRUD.addDateCardDateTittle}"></h4>
                                        </div>
                                        <div class="col-1 d-sm-flex align-items-center justify-content-end">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                    </div>
                                </div>
                                <form id="addDateCardDateForm" method="post" th:action="@{/template/newDate/{templateId}(templateId=${templateId})}" th:object="${DtoAddNewDateForm}" enctype="application/json">
                                    <div class="modal-body">
                                        <!-- Event name and date labels -->
                                        <div class="row">
                                            <div class="col-6">
                                                <label th:text="#{templateCRUD.addDateCardEventNameLabel}" for="addDateCardEventNameInput"></label>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-5">
                                                <label th:text="#{templateCRUD.addDateCardDateLabel}" for="addDateCardDateInput"></label>
                                            </div>
                                        </div>

                                        <!-- Event name and date inputs -->
                                        <div class="row">
                                            <div class="col-6">
                                                <input
                                                        type="text"
                                                        class="w-100 form-control"
                                                        th:placeholder="#{templateCRUD.addDateCardEventNameInputPlaceholder}"
                                                        name="addDateCardEventNameInput"
                                                        id="addDateCardEventNameInput"
                                                        required="required"
                                                />
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-5">
                                                <input
                                                        type="date"
                                                        th:min="${templateYear} + '-' + ${monthNumber} + '-' + '01'"
                                                        th:max="${templateYear} + '-' + ${monthNumber} + '-' + ${lastMonthDay}"
                                                        name="addDateCardDateInput"
                                                        id="addDateCardDateInput"
                                                        required="required"
                                                        class="form-control"
                                                />
                                            </div>
                                        </div>

                                        <!-- Availability checkbox -->
                                        <div class="row">
                                            <div class="col mt-4">
                                                <input type="checkbox" name="addDateCardIsTransportDateCheckboxInput" id="addDateCardIsTransportDateCheckboxInput"/>
                                                <label th:text="#{templateCRUD.addDateCardIsTransportDateCheckboxLabel}" for="addDateCardIsTransportDateCheckboxInput" ></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <span id="creationDateDisabledReason" class="text-danger m-auto"></span>
                                        <input type="submit" th:value="#{templateCRUD.addDateCardButtonText}" id="btnCreateNewDate" class="btn btn-primary shadow-sm"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <th:block th:insert="~{components/topbar :: topbar}">  </th:block>

                    <!-- Begin Page Content -->
                    <div class="container-fluid overflow-auto">

                        <!-- Page Heading -->
                        <div class="container-fluid mt-4">
                            <div class="row">
                                <div class="col">
                                    <h1 class="text-dark mb-3" th:text="${#messages.msgOrNull(templateMonth)} + ' - ' + ${templateYear}"></h1>
                                </div>
                                <div class="col">
                                    <div class="d-sm-flex align-items-center justify-content-end">
                                        <a th:href="@{/template/generate?id={templateId} (templateId = ${templateId})}" class="mb-3 mr-2 btn btn-primary shadow-sm">
                                            <span th:text="#{templateCRUD.generate}"></span>
                                        </a>
                                        <a class="mb-3 mr-2 btn btn-success shadow-sm" data-toggle="modal" data-target="#addDateModal" id="showAddDateModal">
                                            <span th:text="#{templateCRUD.btnCreateNewDate}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Page Heading -->

                        <th:block th:insert="~{components/templatecrud/tabs :: tabs}"></th:block>

                        <!-- Start of Pestañas -->
                        <div class="tab-content mt-3" id="templateTabsContent">
                            <!-- Transports Tab -->
                            <div class="tab-pane fade show active mt-4 ml-4 mr-4" id="template-management-content" role="tabpanel" aria-labelledby="template-management-tab">
                                <th:block th:insert="~{components/templatecrud/passenger/passengerTransportsTable :: passengerTable}"></th:block>
                                <th:block th:insert="~{components/templatecrud/driver/driverTransportsTable :: driverTable}"></th:block>
                            </div>

                            <!-- Communications Tab -->
                            <div class="tab-pane fade mt-4 ml-4 mr-4" id="new-feature-content" role="tabpanel" aria-labelledby="new-feature-tab">

                            </div>
                        </div>
                        <!-- End of Pestañas -->

                    </div>
                    <!-- End Page Content -->

                </div>
                <!-- End of Main Content -->

                <th:block th:insert="~{components/footer :: footer}">  </th:block>

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>

        <!-- addDate modal datepicker -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

        <!-- Custom alerts -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Ajax plugin -->
        <script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.3.0/dist/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

        <script src="/js/own/templatecrud/TemplateCrudTransportCRUD.js" type="module"></script>
        <script src="/js/own/templatecrud/TemplateCrudAddNewDateModal.js" type="module"></script>
        <script src="/js/own/templatecrud/TemplateCrudDateCRUD.js" type="module"></script>
        <script src="/js/own/templatecrud/TemplateCrudNeedsTransport.js" type="module"></script>
        <script src="/js/own/templatecrud/TemplateCrudCommons.js" type="module"></script>
        <script src="/js/own/templatecrud/TemplateCrudHideIcons.js" type="module"></script>
        <script src="/js/own/templatecrud/tabs/TemplateCrudToggleTabs.js" type="module"></script>
        <script src="/js/own/templatecrud/animation/MoveTableRows.js" type="module"></script>

        <!-- Drivers JS
        <script src="/js/own/templatecrud/driver/TemplateCrudDriverAvailabilityForDateCRUD.js" type="module"></script>
        <script src="/js/own/templatecrud/driver/TemplateCrudDriverCommunications.js" type="module"></script>
-->
        <!-- Passengers JS
        <script src="/js/own/templatecrud/passenger/TemplateCrudPassengerCommunications.js" type="module"></script>
        <script src="/js/own/templatecrud/passenger/TemplateCrudPassengerAvailabilityForDateCRUD.js" type="module"></script>
-->
    </body>

</html>