<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Stats</title>

        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <noscript>
            <meta http-equiv="refresh" content="0; url=/enable_javascript">
        </noscript>
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <th:block th:insert="~{components/sidebar :: sidebar}">  </th:block>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <th:block th:insert="~{components/topbar :: topbar}">  </th:block>

                    <!-- Begin Page Content -->
                    <div class="container-fluid overflow-auto">

                        <!-- Page Heading -->
                        <div class="container-fluid mt-4">
                            <div class="row">
                                <div class="col">
                                    <h1 class="text-dark mb-3" id="statsTittle" th:data-template-id="${templateId}" th:text="#{statistics.tittle}"></h1>
                                </div>
                            </div>
                        </div>
                        <!-- End of Page Heading -->

                        <!-- Driver Statistics -->
                         <!-- Last Year Driver Statistics -->
                            <div class="container py-4 mb-2" style="max-width:720px;">
                                <h5 th:text="#{stats.lastYearStats.tittle}" class="mt-2 mb-2"></h5>

                                <div th:each="driver : ${lastYearDrivers}" class="mb-3">
                                    <div class="d-flex justify-content-between mb-1">
                                        <small th:text="${driver.involvedByTemplate.name + ' ' + driver.involvedByTemplate.surname}"></small>
                                        <small th:text="${driver.totalTransports}"></small>
                                    </div>
                                    <div class="progress" style="height:1.25rem; background-color:transparent; line-height: 170%; ">
                                        <div class="progress-bar" role="progressbar" th:style="'width: ' + ${driver.transportPercentage} + '%; background-color:' + ${(driver.color != null) ? driver.color.getLightModeRGB() : 'black'} + '" th:aria-valuenow="${driver.totalTransports}" aria-valuemin="0" aria-valuemax="100"></div>
                                        <span class="ml-1" th:text="${driver.totalTransports}"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Last nine months Driver Statistics
                            <div class="container py-4 mb-2" style="max-width:720px;">
                                <h5 th:text="#{stats.lastYearStats.tittle}" class="mt-2 mb-2"></h5>

                                <div th:each="driver : ${lastNineMonthsDrivers}" class="mb-3">
                                    <div class="d-flex justify-content-between mb-1">
                                        <small th:text="${driver.involvedByTemplate.name + ' ' + driver.involvedByTemplate.surname}"></small>
                                        <small th:text="${driver.totalTransports}"></small>
                                    </div>
                                    <div class="progress" style="height:1.25rem; background-color:transparent; line-height: 170%; ">
                                        <div class="progress-bar" role="progressbar" th:style="'width: ' + ${driver.transportPercentage} + '%; background-color:' + ${(driver.color != null) ? driver.color.getLightModeRGB() : 'black'} + '" th:aria-valuenow="${driver.totalTransports}" aria-valuemin="0" aria-valuemax="100"></div>
                                        <span class="ml-1" th:text="${driver.totalTransports}"></span>
                                    </div>
                                </div>
                            </div> -->

                            <!-- Last Six Months Driver Statistics -->
                            <div class="container py-4 mb-2" style="max-width:720px;">
                                <h5 th:text="#{stats.lastSixMonthsStats.tittle}" class="mt-2 mb-2"></h5>

                                <div th:each="driver : ${lastSixMonthsDrivers}" class="mb-3">
                                    <div class="d-flex justify-content-between mb-1">
                                        <small th:text="${driver.involvedByTemplate.name + ' ' + driver.involvedByTemplate.surname}"></small>
                                    </div>
                                    <div class="progress" style="height:1.25rem; background-color:transparent; line-height: 170%; ">
                                        <div class="progress-bar" role="progressbar" th:style="'width: ' + ${driver.transportPercentage} + '%; background-color:' + ${(driver.color != null) ? driver.color.getLightModeRGB() : 'black'} + '" th:aria-valuenow="${driver.totalTransports}" aria-valuemin="0" aria-valuemax="100"></div>
                                        <span class="ml-1" th:text="${driver.totalTransports}"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Last three months Driver Statistics -->
                            <div class="container py-4 mb-2" style="max-width:720px;">
                                <h5 th:text="#{stats.lastThreeMonthsStats.tittle}" class="mt-2 mb-2"></h5>

                                <div th:each="driver : ${lastThreeMonthsDrivers}" class="mb-3">
                                    <div class="d-flex justify-content-between mb-1">
                                        <small th:text="${driver.involvedByTemplate.name + ' ' + driver.involvedByTemplate.surname}"></small>
                                        <small th:text="${driver.totalTransports}"></small>
                                    </div>
                                    <div class="progress" style="height:1.25rem; background-color:transparent; line-height: 170%; ">
                                        <div class="progress-bar" role="progressbar" th:style="'width: ' + ${driver.transportPercentage} + '%; background-color:' + ${(driver.color != null) ? driver.color.getLightModeRGB() : 'black'} + '" th:aria-valuenow="${driver.totalTransports}" aria-valuemin="0" aria-valuemax="100"></div>
                                        <span class="ml-1" th:text="${driver.totalTransports}"></span>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <!-- End Page Content -->

                </div>
                <!-- End of Main Content -->

                <th:block th:insert="~{components/footer :: footer}">  </th:block>

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>

        <!-- addDate modal datepicker -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

        <!-- Custom alerts -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Ajax plugin -->
        <script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.3.0/dist/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    </body>

</html>